$tools:(
	"border":(
		class: bo,
		attrs: border,
		values: (
			null: 1px solid #ddd,
			0: 0
		),
	),
    "margin-x":(
        class: mx,
        attrs: margin-left margin-right,
        values: (
            1: .25rem,
            2: .5rem,
            3: 1rem,
            4: 1.5rem,
            5: 3rem
        ),
    ),
    "overflow": (
        class: ov,
        attrs: overflow,
        values: auto hidden
    ),
    "height": (
        class: h,
        attrs: height,
        values: (
            25: 25%,
            50: 50%,
            75: 75%,
            100: 100%,
            auto: auto
        )
    ),
    "头像图片尺寸": (
        class: is,
        attrs: width height,
        values: (
            16x16: 16,
            24x24: 24,
            32x32: 32,
            48x48: 48,
            64x64: 64,
            96x96: 96,
            128x128: 128
        )
    ),

    "width": (
        class: w,
        attrs: width,
        values: 75%
    ),
    "demo":demoddd
);

// 遍历整个tools map
@each $key,$tool in $tools {
    /* #{ $key}  */

    // 判断$tool是否是map类型数据
    @if type-of($tool)=="map" {
        
        $class:     map-get($tool,'class');
        $attrs:       map-get($tool,'attrs');
        $values:   map-get($tool,'values');
        

        // 判断values是否是map类型数据
        @if type-of($values)=="map"{

            @each $k,$item in $values {
                @if $k==null {
                    .#{$class}{
                        #{$attrs}: $item;
                    }
                }@else{
                    // 判断attrs是否是数组
                    @if type-of($attrs)=="list" {

                        .#{$class}-#{$k}{
                            @each $attr in $attrs {
                                #{$attr}: $item;
                            }
                        }

                    }@else{

                        .#{$class}-#{$k}{
                            #{$attrs}: $item;
                        }

                    }

                }
            }

        }
        // 判断values是否数组类型数据
        @else if type-of($values)=="list"{

            @each $item in $values {
                .#{$class}-#{$item}{
                    #{$attrs}: $item;
                }
            }

        }
        // 判断values是否字符串类型数据
        @else if type-of($values)=="string"{

        }
        // 判断values是否数字类型数据
        @else if type-of($values)=="number"{
            .#{$class}{
                #{$attrs}: $values;
            }

        }
    }

}
