.tags{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    &.tags-md .tag{font-size:inherit;height: 24px;}
    &.tags-lg .tag{font-size: 1rem;height: 28px;}
    .tag{
        margin-bottom:.5rem;
        &:not(:last-child){
            margin-right:.5rem;
        }
    }
}

.tag{
    align-items: center;
    background-color: $tag_default_bg;
    border-radius: 3px;
    color: $tag_default_color;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: .75rem;
    font-weight: 400;
    // line-height: 1.5;
    height: 22px;
    padding-left: .75em;
    padding-right: .75em;
    white-space: nowrap;
    &.tag-sm{
        font-size: 75%;
        font-weight: 700;
        height: 18px;
        padding-left: .375rem;
        padding-right: .375rem;
    }
    &.tag-md{
        font-size:inherit;
        height: 24px;
        // font-weight: 400;
    }&.tag-lg {
        font-size: 1rem;
        height: 28px;
        // font-weight: 400;
    }
    &.tag-white{background-color: $white;}
    &.tag-light{background-color: $light;color: #fff;}
    &.tag-black{background-color: $black;color: #fff;}
    &.tag-dark{background-color: $dark;color: #fff;}
    &.tag-primary{background-color: $primary;color: #fff;}
    &.tag-link{background-color: $link;color: #fff;}
    &.tag-info{background-color: $info;color: #fff;}
    &.tag-success{background-color: $success;color: #fff;}
    &.tag-warning{background-color: $warning;}
    &.tag-danger{background-color: $danger;color: #fff;}
    &.tag-secondary{background-color: $secondary;color: #fff;}
}
.btn .tag{
    margin-left:6px;
    font-size: 75%;
    font-weight: 700;
    height: 18px;
    padding-left:.375rem;
    padding-right:.375rem;
}